
.chart-echart-line-areaStyle{
    width: 100%;
    height: 300px;
}

.card-rowStyle{
    border-bottom: 1px solid #f1f1f1;
}
.card-headerStyle{
    border-bottom: none;
}
.card-AreaChartStyle{
    display: none;
}
.chart-echart-line-basicStyle{
    width: 100%; height: 300px;
}
.rounded-circleStyle{
    width: 40px;
}

.displayNoneStyle{
    display: none;
}

/* header.js css */
.sticky-header{
    position: sticky;
}
.sticky-header-container{
    position: relative;
    width: 100%;
}
.widthStyle{
    width: 100%;
}
/* 
.pcoded-navbar.theme-horizontal {
    top:0%;
} */

/* grade_gradebook.js css */
.table-responsive-tdStyle{
    vertical-align: middle;
}

.breadcrumb-itemStyle{
    color:#888;
}

.viewSection{
    padding-left: 30px;
}

.widthStyle85{
    width: 85%;
}
.card-headerStyle{
    background: #fff;
}
.createassessment {
    font-size: 23px;
    text-transform: uppercase;
    color: #05bcc5;
    padding: 22px 0px 43px 0px;
    padding: 33px 0px;
}

/* New UI Implementation */
.dashfirstrowheight {
    height: 250px;
    overflow-y: scroll;
}
.dashfirstrowheight::-webkit-scrollbar, .dashfirstrowheight1::-webkit-scrollbar {
    width: 6px;
}
.dashfirstrowheight::-webkit-scrollbar-thumb, .dashfirstrowheight1::-webkit-scrollbar-thumb {
    background: #6fc9f2;
}
.dashfirstrowheight::-webkit-scrollbar-track, .dashfirstrowheight1::-webkit-scrollbar-track {
    background: #bbb;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.progres.progressStyle {
    height: 12px;
    font-size: 10px;
    background-color: #f4f7fa;
    border-radius: 0;
    overflow: visible;
}
.progress-bar.progress-barStyle {
    background-color: #29cde3;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.progressdiv.progressdivStyle {
    margin-top: 9px;
    border: 1px solid #29cde3;
    border-radius: 7px;
}
/* .icon-calendar:before {
    content: "\e83a";
} */

.dashcurrbtn button {
    padding: 0px 13px;
    text-transform: uppercase;
    color: #1dcae2;
    text-decoration: underline;
    font-weight: 600;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn {
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Curriculum Topics Display in the dashboard */
.dashtopic img {
    width: 70px;
    height: 55px;
}
.tab-content {
    padding: 35px 30px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.dashcurrbtn {
    text-align: right;
}
.dashfirstrowheight {
    height: 250px;
    overflow-y: scroll;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    color: #111;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.09);
}
.dashtab .nav-link {
    padding: 10px 18px;
}
.nav-tabs .nav-link {
    border: none;
    color: #888;
}
.nav-link {
    display: block;
    padding: 10px 24px;
    padding: 10px 21px;
    font-size: 13px;
}