
.chart-echart-line-areaStyle{
    width: 100%;
    height: 300px;
}

.card-rowStyle{
    border-bottom: 1px solid #f1f1f1;
}
.card-headerStyle{
    border-bottom: none;
}
.card-AreaChartStyle{
    display: none;
}
.chart-echart-line-basicStyle{
    width: 100%; height: 300px;
}
.rounded-circleStyle{
    width: 40px;
}

.displayNoneStyle{
    display: none;
}

/* header.js css */
.sticky-header{
    position: sticky;
}
.sticky-header-container{
    position: relative;
    width: 100%;
}
.widthStyle{
    width: 100%;
}
/* 
.pcoded-navbar.theme-horizontal {
    top:0%;
} */

/* grade_gradebook.js css */
.table-responsive-tdStyle{
    vertical-align: middle;
}

.breadcrumb-itemStyle{
    color:#888;
}

.viewSection{
    padding-left: 30px;
}

.widthStyle85{
    width: 85%;
}
.card-headerStyle{
    background: #fff;
}
.createassessment {
    font-size: 23px;
    text-transform: uppercase;
    color: #05bcc5;
    padding: 22px 0px 43px 0px;
    padding: 33px 0px;
}

/* New UI Implementation */
.dashfirstrowheight {
    height: 250px;
    overflow-y: scroll;
}
.dashfirstrowheight::-webkit-scrollbar, .dashfirstrowheight1::-webkit-scrollbar {
    width: 6px;
}
.dashfirstrowheight::-webkit-scrollbar-thumb, .dashfirstrowheight1::-webkit-scrollbar-thumb {
    background: #6fc9f2;
}
.dashfirstrowheight::-webkit-scrollbar-track, .dashfirstrowheight1::-webkit-scrollbar-track {
    background: #bbb;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.progres.progressStyle {
    height: 12px;
    font-size: 10px;
    background-color: #f4f7fa;
    border-radius: 0;
    overflow: visible;
}
.progress-bar.progress-barStyle {
    background-color: #29cde3;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.progressdiv.progressdivStyle {
    margin-top: 9px;
    border: 1px solid #29cde3;
    border-radius: 7px;
}
.leftweight {
    position: absolute;
    right: 20px;
    top: -8px;
}

/* .icon-calendar:before {
    content: "\e83a";
} */

/*
lessonplan styles*/

.createlesson {
    font-size: 25px;
    text-transform: uppercase;
    color: #05bcc5;
    padding: 2px 0px 12px 0px;
}

.lessonplanform {
   
    position: absolute;
    z-index: 9;
    background: #fff;
    margin-bottom: 20px;
    padding: 26px 22px;
}

.lessonplanform h6 {
    text-align: center;
    font-weight: 600;
    color: #05bcc5;
}

.icon-plus:before {
    content: "\e8b1";
}